<.header>
  New Shortened url
  <:subtitle>Use this form to manage shortened_url records in your database.</:subtitle>
</.header>

<.shortened_url_form changeset={@changeset} action={~p"/shortened_urls"} />

<.back navigate={~p"/shortened_urls"}>Back to shortened_urls</.back>
