<.header>
  New Shortened url
  <:subtitle>Use this form to manage shortened_url records in your database.</:subtitle>
</.header>

<.shortened_url_form changeset={@changeset} action={~p"/create"} />

<.back navigate={~p"/"}>Back to Start</.back>
