<.header>
  Shortened url <%= @shortened_url.id %>
  <:subtitle>This is a shortened_url record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/shortened_urls/#{@shortened_url}/edit"}>
      <.button>Edit shortened_url</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Key"><%= @shortened_url.key %></:item>
  <:item title="Url"><%= @shortened_url.url %></:item>
</.list>

<.back navigate={~p"/shortened_urls"}>Back to shortened_urls</.back>
